.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* This will push the footer to the bottom */
  display: flex;
  flex-direction: column;
}
